<!DOCTYPE html>
<html data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Urbanthreads</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="https://miro.medium.com/v2/resize:fill:120:120/1*sHhtYhaCe2Uc3IU0IgKwIQ.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antonio&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed&amp;subset=greek,cyrillic,cyrillic-ext,vietnamese&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets\bootstrap\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets\css\styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets\fonts\fontawesome5-overrides.min.css' %}">
    <style>
        .custom-alert{
            display: none;
        }
    </style>
</head>
<body>
    <main class="page h-auto">

        <nav class="navbar navbar-expand-md w-100 navbar-light" style="position: fixed;height: 55px;backdrop-filter: blur(2px);z-index: 1000;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse order-2" id="navcol-2">
                    <ul class="navbar-nav">
                        
                        <li class="nav-item mx-3">
                            <a class="nav-link active" href="#offcanvas-1" style="color: var(--bs-gray-900);font-weight: bold;" data-bs-target="#navslide" data-bs-toggle="offcanvas">
                            <svg width="30" class="new-svg-hamburger" height="12" viewBox="0 0 30 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line y1="1" x2="30" y2="1" stroke="black" stroke-width="2"></line>
                            <line y1="11" x2="20" y2="11" stroke="black" stroke-width="2"></line>
                            </svg></a>
                        </li>
                        <li class="nav-item d-xxl-flex align-items-xxl-end mx-3">
                            <a href="{% url 'cart:cart' %}">
                                <i class="icon-handbag fs-4"></i>
                            </a>                            
                        </li>

                    </ul>
                </div>
                <ul class="navbar-nav text-nowrap d-flex flex-row order-1 order-md-2 mx-md-auto">
                    <button data-bs-target="#navslide" data-bs-toggle="offcanvas" class="navbar-toggler" style="width: 122px;">
                        <span class="visually-hidden">Toggle navigation</span><svg width="30" class="new-svg-hamburger" height="12" viewBox="0 0 30 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line y1="1" x2="30" y2="1" stroke="black" stroke-width="2"></line>
                            <line y1="11" x2="20" y2="11" stroke="black" stroke-width="2"></line>
                            </svg>
                    </button>
                    <li class="nav-item"><a class="navbar-brand" href="{% url 'store:home' %}">URBAN THREADS</a></li>
                </ul>
                <div class="order-3 ms-auto order-md-3 navbar-collapse collapse nav-content">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link mx-3" href="{% url 'accounts:login' %}" >Login</a></li>
                        <li class="nav-item"><a class="nav-link  mx-3" href="about-us.html" >ABOUT US</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="navslide">

            <div class="offcanvas-header">
                <h5 class="offcanvas-title fw-bold">URBAN THREADS</h5>
                <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas"></button>
            </div>

            <div class="offcanvas-body">
                <div>

                    <ul class="nav nav-tabs" role="tablist" style="border-width: 0px;">
                        <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">MEN</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">WOMEN</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">MINORS</a></li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                            <p class="fw-bold p-2">Collection</p>
                            <div style="padding-left: 10px;">
                                <a href="#"><p>PANTS<br></p></a>
                                <a href="#"><p>SHORTS<br></p></a>
                                <a href="#"><p>T-SHIRTS<br></p></a>
                                <a href="#"><p>SHIRTS<br></p></a>
                                <a href="#"><p>TROUSERS<br></p></a>
                                <a href="#"><p>SHOES<br></p></a>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-2">
                            <p class="fw-bold p-2">Collection</p>
                            <div style="padding-left: 10px;">
                                <a href="#"><p>PANTS<br></p></a>
                                <a href="#"><p>T-SHIRTS<br></p></a>
                                <a href="#"><p>SHIRTS<br></p></a>
                                <a href="#"><p>TROUSERS<br></p></a>
                                <a href="#"><p>SHOES<br></p></a>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-3">
                            <p class="fw-bold p-2">Catagory</p>
                            <div style="padding-left: 10px;">
                                <a href="#"><p>BOYS<br></p></a>
                                <a href="#"><p>GIRLS<br></p></a>
                            </div>
                        </div>


                    </div>
                </div><a class="btn btn-primary" role="button" href="{% url 'accounts:user_profile' %}"><i class="far fa-user-circle"></i>Profile</a>
            </div>
        </div>
        
        {% block content %}
        {% endblock %}

        <div class="col d-flex justify-content-center align-items-center py-5 hr-min">
            <form class="my-5">
                <h3 style="color: rgb(0,0,0);font-family: Antonio, sans-serif;font-size: 29px;">SUBSCRIBE TO OUR NEWSLETTER</h3>
                <div class="d-flex"><input class="form-control shadow-none w-100 border-0" type="email" placeholder="Enter Your Email" required=""><button class="btn btn-primary" type="button" style="color: var(--bs-gray-900);background: rgba(255,255,255,0);border-width: 0px;box-shadow: none;"><i class="fa fa-arrow-right"></i></button></div>
                <hr class="m-0">
            </form>
        </div>

        <footer class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center footer-basic">
            <div style="width: 90%;">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{% url 'store:home' %}" style="color: var(--bs-orange);font-weight: bold;">Home</a></li>
                    <li class="list-inline-item"><a href="{% url 'accounts:login' %}" style="color: var(--bs-cyan);font-weight: bold;">Login</a></li>
                    <li class="list-inline-item"><a href="#" style="color: var(--bs-yellow);font-weight: bold;">About</a></li>
                    <li class="list-inline-item"><a href="#" style="color: var(--bs-gray-100);font-weight: bold;">cookies</a></li>
                </ul>
                <p class="copyright"><br><strong>&nbsp;© 2023&nbsp;</strong>URBAN THREADS STORES</p>
            </div>
        </footer>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'assets\js\script.min.js' %}"></script>
    <script src="{% static 'assets\custom.js' %}"></script>
</body>
</html>