{% extends "base.html"%} 
{% block content %}
{% if cart_items %}
        <section class="clean-cart dark pt-5">
            <div class="container mt-5">
                <div class="col pt-5">
                    <h3 class="fw-bold">SHOPPING CART</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>PRODUCT</td>
                                    <td>QUANTITY</td>
                                    <td class="text-end">TOTAL</td>
                                {% for item in cart_items %}   
                               
                                <tr id="start-from-here">
                                    <td class="border-0" colspan="3">
                                        <div class="row w-100">
                                            <div class="col-md-4">
                                                
                                                <div class="row">
                                                    <div class="col-md-6 d-flex justify-content-center">
                                                        <img class="w-auto" src="{{ item.product.product_images.first.image.url}}" style="height: 198.4px;">
                                                    </div>
                                                    <div class="col-md-6 py-4">
                                                    <a href="{% url 'store:product_detail' item.product.uid %}">
                                                    <h6 class="fw-bold m-0">{{ item.product.product_name }}</h6>
                                                    </a>
                                                    <span><br>
                                                    PKR {{ item.product.product_price }}<br>
                                                    Color: <label class="color-p-circle"style="background-color:{{ item.color }};"></label><br>
                                                    Size: {{ item.size }}<br>
                                                    Gender: {{ item.product.product_category }}<br>
                                                    </span>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 d-flex">
                                                    <div class="add-sub-box"><button class="btn btn-primary qty_button" data-product_id="{{item.key}}" type="button" value="-">-</button>
                                                        <div>
                                                            <p id="{{item.key}}"  data-url="{% url 'cart:update_cart' %}">{{ item.quantity }}</p>
                                                        </div><button class="btn btn-primary qty_button" data-product_id="{{item.key}}" type="button" value="+">+</button>
                                                    </div>
                                                    <a class="mx-5" href="{% url 'cart:delete_from_cart' item.key %}"><i class="far fa-trash-alt fs-3"></i></a>
                                                </div>
                                            <div class="col-md-4">
                                                <h6 class="text-end fw-bold mt-3 total_price_product" data-prod_total="">PKR {% widthratio item.product.product_price 1 item.quantity  %}</h6>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                               {% endfor %}                           
                        </table>
                    </div>
                </div>
            </div>
            <hr class="hr-min">
        </section>
        

        
        <div class="container d-flex-j-end py-5">
            <div class="chkot-m">
                <h6 class="text-end fw-bold m-0">Subtotal : PKR {{total_price}}</h6><span><br><br><span style="color: rgba(0, 0, 0, 0.75);">Taxes and shipping calculated at checkout</span><br></span>
                <form><button class="btn btn-primary w-100 btn-p" type="button">CHECK OUT&nbsp;</button></form><a class="btn btn-primary white-btn w-100 mt-2 btn-p" role="button">CONTINUE SHOPPING</a>
            </div>
        </div>
        {% else %}
        <section class="d-flex justify-content-center align-items-center clean-cart dark pt-5 mh-50">
            <div class="container">
                <h2 class="text-center fw-bold">Your cart is empty</h2>
                <div class="d-flex d-lg-flex justify-content-center justify-content-lg-center pt-2">
                    <a class="btn btn-primary btn-p px-4" role="button" href="{% url 'store:home' %}">CONTINUE SHOPPING</a>
                </div>
            </div>
            <hr class="hr-min">
        </section>
        {% endif %}
<script>
   function updateCartQuantity(quantity, product_id,url) {
    $.ajax({
        url: url,
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        },
        data: {
            quantity: quantity,
            product_id:product_id
        },
        success: function(response) {
            console.log('database updated');
        },
        error: function(xhr, status, error) {
            console.error('', error);
        }
    });
}

const buttons = document.querySelectorAll('.qty_button');

buttons.forEach(button => {
    button.addEventListener('click', function() {
        const targetId = button.getAttribute('data-product_id');
        const quantityDisplay = document.getElementById(targetId);
        const url = quantityDisplay.getAttribute('data-url')
        console.log(button.value);
        const buttonValue = button.value;
        let quantity = parseInt(quantityDisplay.textContent);
        if (buttonValue === '+' && quantity < 5) {
            quantity += 1;
            updateCartQuantity(quantity, targetId,url);
        } else if (buttonValue === '-' && quantity > 1) {
            quantity -= 1;
            updateCartQuantity(quantity, targetId,url);
        }
        quantityDisplay.textContent = `${quantity}`;
        
    });
});

function getCookieValue(cookieName) {
    var name = cookieName + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var cookieArray = decodedCookie.split(';');

    for(var i = 0; i < cookieArray.length; i++) {
        var cookie = cookieArray[i];
        while (cookie.charAt(0) == ' ') {
            cookie = cookie.substring(1);
        }
        if (cookie.indexOf(name) == 0) {
            return cookie.substring(name.length, cookie.length);
        }
    }
    return "";
}

var specificCookieValue = getCookieValue('cart').replace(/\\054/g, ',');
var parsedArray = JSON.parse(specificCookieValue);


        </script>
{% endblock %}