<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>URBAN THREADS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/StaticUser123/UT@main/assets/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Alegreya+Sans&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Antonio&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Archivo+Black&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/StaticUser123/UT@main/assets/fonts/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/StaticUser123/UT@main/assets/css/Footer-Basic.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/StaticUser123/UT@main/assets/css/vanilla-zoom.min.css"
    />
  </head>
  <style>
    ::-webkit-scrollbar {
      width: 5px;
      -color: rgba(0, 0, 0, 0.014);
    }
    ::-webkit-scrollbar-thumb {
      background-color: rgba(53, 53, 53, 0.534);
    }
  </style>
  <body style="height: auto">
    <main class="page blog-post" style="padding-top: 0px; height: auto">
      <div class="row" style="margin: 0px">
        <div class="col-md-3" style="padding: 5px">
          <a href="{% url 'store:products' 'M' %}"
            ><img
              src="https://cdn.jsdelivr.net/gh/StaticUser123/UT@main/assets/img/Men_10.webp"
              style="width: 100%"
          /></a>
        </div>
        <div class="col-md-3" style="padding: 5px">
          <a href="{% url 'store:products' 'W' %}"
            ><img
              src="https://cdn.jsdelivr.net/gh/StaticUser123/UT@main/assets/img/Women_11.webp"
              style="width: 100%"
          /></a>
        </div>
        <div class="col-md-3" style="padding: 5px">
          <a href="{% url 'store:products' 'B' %}"
            ><img
              src="https://cdn.jsdelivr.net/gh/StaticUser123/UT@main/assets/img/boys_6.webp"
              style="width: 100%"
          /></a>
        </div>
        <div class="col-md-3" style="padding: 5px">
          <a href="{% url 'store:products' 'G' %}"
            ><img
              src="https://cdn.jsdelivr.net/gh/StaticUser123/UT@main/assets/img/Girls_6.webp"
              style="width: 100%"
          /></a>
        </div>
      </div>
      <div>
        <video
          width="560"
          height="315"
          style="width: 100%; height: auto"
          muted=""
          loop=""
          autoplay=""
        >
          <source
            src="https://cdn.shopify.com/videos/c/o/v/bec3d76d821a453ea497d78fb28664a0.mp4"
            type="video/webm"
          />
        </video>
      </div>
    </main>

    <footer
      class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center footer-basic"
      style="height: 400px; background: rgb(0, 0, 0)"
    >
      <div style="width: 90%">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a
              href="{% url 'store:home' %}"
              style="color: var(--bs-orange); font-weight: bold"
              >Home</a
            >
          </li>
          <li class="list-inline-item">
            <a
              href="{% url 'accounts:login' %}"
              style="color: var(--bs-cyan); font-weight: bold"
              >Login</a
            >
          </li>
          <li class="list-inline-item">
            <a
              data-bs-toggle="offcanvas"
              href="#offcanvasCookies"
              style="color: var(--bs-gray-100); font-weight: bold"
              >cookies</a
            >
          </li>
        </ul>
        <p
          class="copyright"
          style="
            padding-top: 5px;
            padding-bottom: 5px;
            background: rgba(107, 184, 255, 0);
            color: var(--bs-white);
            font-weight: bold;
            border-top: 1px solid var(--bs-gray-600);
          "
        >
          <br /><strong>&nbsp;© 2023&nbsp;</strong>URBAN THREADS STORES
        </p>
      </div>
    </footer>
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasCookies"
      aria-labelledby="offcanvasCookiesLabel"
      style="background-color: black; color: azure"
    >
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasCookiesLabel">
          <span style="font-size: larger">Cookies</span>
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
          style="background-color: aliceblue"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div>
          When you visit any website, it may store or retrieve information on
          your browser, mostly in the form of cookies. This information might be
          about you, your preferences or your device and is mostly used to make
          the site work as you expect it to. The information does not usually
          directly identify you, but it can give you a more personalized web
          experience.We respect your right to privacy. However, blocking some
          types of cookies may impact your experience of the site and the
          services we are able to offer.
        </div>
      </div>
    </div>
    <!-- end off canvas ===========================================================================-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/StaticUser123/UT@main/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/StaticUser123/UT@main/assets/js/vanilla-zoom.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/StaticUser123/UT@main/assets/js/theme.js"></script>
  </body>
</html>
