{% extends 'base.html' %} {% block content %}
        <section class="clean-block clean-product dark pt-5">
            <div class="container pt-5">
                <div class="block-content">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-md-6 p-0" style="height: 888px;">
                                <div class="gallery d-eir-994-323">
                                    <div id="product-preview" class="vanilla-zoom">
                                        <div class="zoomed-image px-700"></div>
                                        <div class="sidebar">
                                          {% for image in product.product_images.all %}
                                          <img class="img-fluid d-block small-preview" src="{{ image.image.url }}"onerror="this.src='https://cdn.jsdelivr.net/gh/StaticUser123/statics@main/placeholder.png';"/>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 p-0">
                                <div class="info">
                                    <h4 style="font-family: Alatsi, sans-serif;">{{product.product_name}}</h4><span>{{product.product_article}}</span>
                                    <h6 class="prc-prod">PKR {{product.product_price}}</h6>
                                    <hr>
                                    <div class="d-inline-flex w-100">
                                        <p class="size-symbol w-25"><strong>COLORS</strong><br></p>
                                        {% for color in product.clothing_color.all %}
                                        <div class="color-p-circle" style="background-color:{{color}};"></div>
                                        {% empty %}
                                          No colors.
                                        {% endfor %}
                                    </div>
                                    <div class="d-inline-flex w-100">
                                        <h6 class="w-25 size-symbol">SIZE</h6>
                                        {% for size in product.clothing_size.all %}
                                         <h6 class="size-symbol mx-1">{{size}}</h6>
                                        {% endfor %}
                                    </div>
                                    <div class="d-inline-flex w-100">
                                        <h6 class="w-25 size-symbol">GENDER</h6>
                                        <h6 class="size-symbol mx-1">{{product.product_category}}</h6>
                                    </div>
                                    <div>
                                        <hr>
                                        <p class="size-symbol">SIZE GUIDE</p>
                                        <form><a href="{% url 'accounts:add_to_cart' product.pk %}" class="btn btn-primary add-to-cart-btn" role="button" style="width: 100%;font-size: .8em;">ADD TO CART</a></form>
                                    </div>
                                    <div class="summary">
                                        <p><br><strong>COMPOSITION &amp; CARE</strong><br>MACHINE WASH UP TO 30C/86F, GENTLE CYCLE<br>DO NOT BLEACH<br>IRON UP TO 110C/230F<br>DO NOT IRON DIRECTLY ON PRINTS/EMBROIDERY/EMBELLISHMENTS/LI&gt;<br>DO NOT DRY CLEAN<br>DO NOT TUMBLE DRY<br><br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}