{% extends 'base.html' %} 
{% block content %}
    <section class="clean-block clean-form py-5 h-auto">
        <div class="container">
            {% if messages %} {% for message in messages %}
            <div class="alert alert-info my-3">{{ message }}</div>
            {% endfor %} {% endif %}
            <div class="row">
                <div class="col-md-6 py-4" id="img-preview">
                    <img id="imagePreview" class="w-100 h-auto">
                </div>
                <div class="col-md-6">
                    <form method="post" enctype="multipart/form-data">
                        <h3 class="fw-bold">Add a new product</h3>
                        {% csrf_token %}
                        {{ clothing_form }}
                        <hr>
                        {{ size_formset.management_form }}
                        {{ size_formset.as_p }}
                        <hr>
                        {{ images_formset.management_form }}
                        {{ images_formset.as_p }}
                        <hr>
                        {{ colors_formset.management_form }}
                        {{ colors_formset.as_p }}
                        <button class="btn btn-primary mt-2 px-4" type="submit" >Add Product</button>
                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %}