{% extends "base.html"%} {% block content %} 
    <section class="clean-block clean-form dark h-auto pt-5">
        <div class="container pt-5">
            <form method="post">
                {% csrf_token %}
                <h3 class="fw-bold">Add a new address</h3>
                {{form}}
                <button class="btn btn-primary mt-2 px-4" type="submit">Add Address</button>
                <a class="btn btn-primary mt-2 px-4 btn-blank" role="button" href="#">Go Back</a>
            </form>
        </div>
    </section>
   {% endblock %}