{% extends "base.html"%}


{% block content %}
<main class="page payment-page">
<section class="clean-block payment-form dark">
<div class="container">
    <div class="block-heading"><h1 style="font-family: Alatsi, sans-serif;color: rgb(0,59,118);">Payment</h1></div>
    <form - method="post" id="form">
    {% csrf_token %}
    {{ form.as_p }} 

    <select class="form-select" name="product_size" required id="id_product_size" autocomplete="off">
        <option value="" selected>---------</option>
        {% for size in product.size.all %}
            <option value="{{ size.id }}">{{ size.name }}</option>
        {% endfor %}          
    </select>    
            <div class="col-sm-12" style="box-shadow: none;">
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit"  value="Save" name="_save" style="width: 100%;height: 100%;background:rgb(255, 217, 0);border: none;">PROCEED</button>
                </div>
            </div>
    </form>       
</div>
</section>
</main>
    {% endblock %}