{% extends "base.html"%} 
{% block content %}
        <section class="clean-block clean-form vh-75 pt-5">
            {% if messages %} {% for message in messages %}
            <div class="alert alert-info mt-4">{{ message }}</div>
            {% endfor %} {% endif %}
            <div class="container py-4">
                <h1 class="text-black-50 mt-5">Login</h1>
                <form class="my-0" action="{% url 'accounts:login' %}" method="post">
                    {% csrf_token %}
                    <input class="form-control my-2" type="text" id="username" placeholder="Username" name="username" required="">
                    <input class="form-control my-3" type="password" id="password" placeholder="Password" name="password" required="">
                    <a href="#">
                        <p style="font-family: 'Roboto Condensed', sans-serif;">Forget Password?</p>
                    </a>
                    <button class="btn btn-primary my-2" type="submit" style="width: 100%;border-width: 0px;box-shadow: none;">Log In</button>
                    <a href="#">
                        <p style="font-family: 'Roboto Condensed', sans-serif;"><a href="#"><strong><span style="color: initial;">Create an account</span></strong></a><br></p>
                    </a>
                </form>
            </div>
        </section>
{% endblock %}