{% extends "base.html"%} {% block content %}
        <section class="clean-block clean-cart dark pt-5">
            <div class="container roboto h-auto pt-5">
                <h1 class="fw-bold">Accout</h1>
                <h5 class="text-start text-start"><a href="{% url 'accounts:logout' %}"><br><i class="far fa-user"></i><span style="color: rgb(0, 0, 0);">&nbsp;LOGOUT</span><br></a><br><br></h5>
                <div>
                    <div class="row g-0">
                        <div class="col-md-12 col-lg-8">
                            <div></div>
                            <h3 style="font-family: Alatsi, sans-serif;margin-top: 10px;">Order History</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="#"><h5>ORDER LINK</h5></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div></div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="summary" style="height: auto;">
                                <h3>Account details</h3>
                                {% if request.user.is_authenticated %}
                                <p>{{request.user.username}}</p>
                                {% else %}
                                <p>Guest *Please Log in to checkout</p>
                                {% endif %}
                                <p>Pakistan</p><a class="btn btn-primary btn-lg d-block w-100" role="button" href="#" style="box-shadow: none;">VIEW ADDRESSES</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endblock %}